@(action: String, dataFiles: List[DataFile])
<form action=@action method="post">
<table class="table table-striped">
	<tr>
		<th>Nom du fichier</th>
		<th>Chemin relatif au scénario</th>
		<th>Visualiser comme tableau csv</th>
		<th>Activer la dataviz</th>
		<th>Ajouter/Supprimer</th>
	</tr>
	@for(dataFile <- dataFiles){
	<tr>
		<td>
			<input type="hidden" name="form_file_name[]" value=@dataFile.name>
			@dataFile.name
		</td>
		<td>
			<input type="hidden" name="form_file_path[]" value=@dataFile.file.path>
			@dataFile.file.path
		</td>
		<td>
			<input type="hidden" name="form_csv_viz[]" value=@dataFile.csvViz>
			@if(dataFile.csvViz){
				Activé
			} else{
				Désactivé
			}
		</td>
		<td>
			<input type="hidden" name="form_data_viz[]" value=@dataFile.dataViz>
			@if(dataFile.dataViz){
				Activé
			} else{
				Désactivé
			}
		</td>
		<td>
			<button type="button" class="delete-row btn btn-default">Supprimer</button>
		</td>
	</tr>
	}
	<tr>
		<td><input type="text" name="file_name" class="form-control"></td>
		<td><input type="text" name="file_path" class="form-control"></td>
		<td>
			<label>
			<input type="checkbox" name="csv_viz" class="checkbox checkbox-disabled checkbox-inline">
			<span class="little-margin">Activer</span>
			</label>
		</td>
		<td>
			<label>
			<input type="checkbox" name="data_viz" class="checkbox checkbox-disabled checkbox-inline">
			<span class="little-margin">Activer</span>
			</label>
		</td>
		<td><button type="button" class="add-row btn btn-default">Ajouter ce fichier</button></td>
	</tr>
</table>
<button type="submit" class="btn btn-default">Valider</button>
</form>
