@(settings: Map[String, String])
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Administration page">
		<meta name="author" content="Corentin Limier">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

		<title>@settings("projectName") Admininistration</title>

		<link href="@routes.Assets.at("libs/bootstrap/css/bootstrap.min.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("libs/sidebar/sidebar.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("libs/font-awesome/css/font-awesome.min.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("stylesheets/sidebar.css")" rel="stylesheet"></script>

		<script src="@routes.Assets.at("libs/jquery.min.js")"></script>
		<script src="@routes.Assets.at("libs/bootstrap/js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("libs/sidebar/sidebar.js")"></script>
		<script src="@routes.Assets.at("javascripts/admin.js")"></script>
	</head>
	<body>
		@navbar(settings("projectName"))
		@sidebar()
		<div id="content">
			<h1>Administration</h1>
			<h2>Paramètres du dashboard</h2>
			<form id="appname_form" action="/admin/appname" method="post" class="form-inline">
				<div class="form-group">
					<label for="app_name">Nom de l'application</label><br />
					<input type="text" class="form-control" id="app_name" name="app_name" value=@settings("projectName")>
					<button type="submit" class="btn btn-default">Valider</button>
				</div>
			</form>
			<form id="pswd_form" action="/admin/password" method="post" class="form-inline">
				<div class="form-group">
					<label for="act_pswd">Mot de passe actuel</label><br />
					<input type="password" class="form-control" id="act_pswd" name="act_pswd">
				</div>
				<div class="form-group">
					<label for="new_pswd">Nouveau mot de passe</label><br />
					<input type="password" class="form-control" id="new_pswd" name="new_pswd">
				</div>
				<div class="form-group">
					<label for="conf_pswd">Confirmer le mot de passe</label><br />
					<input type="password" class="form-control" id="conf_pswd" name="conf_pswd">
					<button type="submit" class="btn btn-default">Valider</button>
				</div>
			</form>
			<h2>Paramètres de l'engine</h2>
			<form id="engine_path_form" action="/admin/enginepath" method="post" class="form-inline">
				<div class="form-group">
					<label for="engine_path">Chemin du script de l'engine</label><br />
					<input type="text" class="form-control" id="engine_path" name="path" value=@settings("enginePath")>
					<button type="submit" class="btn btn-default">Valider</button>
				</div>
			</form>
			<form id="scenarii_path_form" action="/admin/scenariipath" method="post" class="form-inline">
				<div class="form-group">
					<label for="scenarii_path">Chemin du répertoire des scénarii</label><br />
					<input type="text" class="form-control" id="scenarii_path" name="path" value=@settings("scenariiPath")>
					<button type="submit" class="btn btn-default">Valider</button>
				</div>
			</form>
			<h2>Fichiers d'entrée</h2>
			@admin_data_files()
			<h2>Fichiers de sortie</h2>
			@admin_data_files()
		</div>
	</body>
</html>
