@*
* This template takes a single argument, a String containing the
* application name to display.
*@
@(application_name: String)
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="description" content="Home page">
		<meta name="author" content="Corentin Limier">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

		<title>@application_name's Home</title>

		<link href="@routes.Assets.at("libs/bootstrap/css/bootstrap.min.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("libs/sidebar/sidebar.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("libs/font-awesome/css/font-awesome.min.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet"></script>
		<link href="@routes.Assets.at("stylesheets/sidebar.css")" rel="stylesheet"></script>

		<script src="@routes.Assets.at("libs/jquery.min.js")"></script>
		<script src="@routes.Assets.at("libs/bootstrap/js/bootstrap.min.js")"></script>
		<script src="@routes.Assets.at("libs/sidebar/sidebar.js")"></script>
	</head>
	<body>
		@navbar(application_name)
		@sidebar()
		<div id="content">
			@if(flash.contains("success")) {
			<div class="alert alert-success">
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<strong>@flash.get("success")</strong>
			</div>
			}
			<h1>Home</h1>
			@lorem(10)
		</div>
	</body>
</html>
