@(number: Integer)

@for(index <- 0 until number){
	<div>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam egestas ligula id magna volutpat, vel consectetur ligula blandit. Morbi congue pulvinar est, non rhoncus velit auctor sed. Etiam tincidunt bibendum scelerisque. Proin ipsum dolor, dignissim eget nisi eget, sagittis pellentesque justo. Vestibulum scelerisque magna sit amet maximus fermentum. Nunc viverra gravida ante ut cursus. Donec ut magna ullamcorper, congue quam non, efficitur est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc vel neque convallis, commodo ex id, varius mauris. Maecenas non commodo neque, eu cursus augue. Donec tempor arcu ut nibh consectetur, ultrices blandit sem porta. Vestibulum interdum quam vitae nulla aliquam, at rutrum dui congue. Etiam velit purus, molestie viverra nisi nec, euismod eleifend diam. Nullam sodales ante eget mi blandit, eget laoreet lacus fringilla. Sed gravida elit sed felis luctus auctor in et velit.
	</div>
}
